[Desktop Entry]
Name=Shambleta
Comment=Shambleta is a classic 2D MMORPG inspired by the golden era of pixel art RPGs.
Exec=shambleta
Icon=${SNAP}/meta/gui/logo_seed.svg
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Keywords=mmorpg;rpg;multiplayer;godot;
